<h1><%= @product.name %></h1>
<%= image_tag("coffe.png", class: "coffee-detail-image") %>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.origin %></p>
<p><%= @product.variety %></p>

<hr>

<h3>Reviews:</h3>
