<h1>New Review for <%= @product.name %></h1>

<%= render('shared/errors', :object => @review) %>

<%= form_for [@product, @review], remote: true do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author, class: :"form-control" %>

  <%= f.label :content %>
  <%= f.text_field :content, class: :"form-control" %>

  <p><%= f.submit %></p>
<% end %>
